.site-layout-background {
    background: white;
    padding: 0;
    height: 70px;
}

.logo-mobile {
    margin-top: -12px;
}

.icon-menu-mb {
    font-size: 1.2rem;
    opacity: .5;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid rgb(113, 113, 113);
}

.icon-account {
    font-size: 1.4rem;
    opacity: .5;
    border-radius: 5px;
    border: 1px solid rgb(113, 113, 113);
    padding: 3px 0;
    margin-left: 3px;
}

.ant-menu-inline {
    border: 0;
}

.info-user {
    border-bottom: 1px solid rgb(225, 225, 225);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

@media (min-width:1024px) {
    .site-layout-background {
        height: 100px;
    }
    .info-user{
        display: none;
    }
}