.login_wrapper{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#fff;
}
.campus{
    margin-top:20px;
}
.button_login{
    margin-top:20px;
    width:500px;
    display: flex;
    justify-content: center;
}
.logo{
    width:30%;
}