@font-face {
    font-family: titleFont;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

.App {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    /* .App-logo {
        animation: App-logo-spin infinite 20s linear;
    } */
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    font-family: titleFont;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 999!important;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    transition: background-color .3s ease-in-out;
    font-size: 23px;
}

.nav-link {
    color: #eeeeee !important;
    text-transform: uppercase;
    font-weight: 600;
}

.banner {
    background-color: #191D24;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-family: titleFont;
    z-index: 0;
}

.video-header {
    position: absolute;
    top: -0;
    bottom: 0;
    width: 100% !important;
    left: 0;
    right: 0;
    overflow: hidden;
}

.video-header video {
    display: inline-block;
    width: 100%;
}

.banner-text {
    color: #fff;
    z-index: 1;
    font-size: 23px;
}

.banner-title {
    color: #fff;
    display: inline-block;
    height: 64px;
    font-size: 100px!important;
    padding-right: 4px;
    border-right: 12px solid #ffffff;
    -webkit-animation: blink 3s linear infinite;
    animation: blink 3s linear infinite;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
    line-height: 1em;
}

@keyframes blink {
    0% {
        color: #fff;
    }
    10% {
        color: rgb(235, 140, 140);
    }
    20% {
        color: rgb(68, 142, 226);
    }
    30% {
        color: rgb(235, 140, 230);
    }
    40% {
        color: rgb(57, 209, 214);
    }
    50% {
        color: rgb(57, 209, 214);
    }
    60% {
        color: rgb(57, 214, 57);
    }
    70% {
        color: rgb(214, 57, 57);
    }
    80% {
        color: rgb(0, 0, 0);
    }
    90% {
        color: rgb(17, 202, 226);
    }
    100% {
        color: rgb(254, 255, 254);
    }
}

.banner-title-sm {
    color: #fff;
    font-size: 37px;
    text-shadow: 1px 2px 5px #000;
}

.app-sm {
    display: flex;
    justify-content: center;
}

.app-sm img {
    width: 8rem;
}

.app-sm img:first-child {
    margin-right: 5px;
}

.buyido {
    margin-top: 20px;
    background-color: #008a81!important;
    border-color: #008a81!important;
    text-shadow: none!important;
    font-size: 29px !important;
    padding: 10px !important;
    animation: buyanimation 1s ease infinite;
}

@keyframes buyanimation {
    from {
        box-shadow: 1px 1px 1px #008A81;
    }
    to {
        box-shadow: 1px 1px 2px 5px rgb(4, 194, 181);
    }
}


/* information */

.video-ea {
    opacity: 0.6;
    right: 7rem;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    object-fit: cover;
    border: 10px solid #02A99E;
}

.information {
    background-color: #191D24;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: titleFont;
    z-index: 0;
}

.info-content p {
    font-family: sans-serif;
}

.info-list {
    list-style: none;
    font-family: sans-serif;
    font-size: 15px;
    padding: 0;
}

.info-list-sm {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.info-list-sm-m {
    text-align: start;
}

.info-list-sm-m h5 {
    color: #fff !important;
    font-weight: 700;
}

.info-list-sm-m span {
    color: rgb(156, 156, 156) !important;
}

.icon-info {
    font-size: 39px;
    color: #21BBB3;
    margin-right: 5px;
}


/* Patnership */

.ant-layout-content {
    overflow: hidden;
    position: relative;
    background-image: url(../image/background.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-attachment: fixed;
    background-color: #191D24;
}
.App {
    overflow: hidden;
    position: relative;
    background-image: url(../image/background.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-attachment: fixed;
    background-color: #191D24;
}

.partnership {
    min-height: 100vh;
    background-color: transparent;
    font-family: titleFont;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 2rem;
}

.list-patner {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-row-gap: 1.8rem;
}

.patner-item {
    border: 0.1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
    max-width: 221px;
    max-height: 84px;
    display: flex;
    align-items: center;
}

.patner-item img {
    max-width: 100%;
    object-fit: contain;
}


/* footer */

.footer {
    background-color: #191D24;
}

.ant-layout-header{
    height: 0 !important;
}
@media (max-width: 1023px) {
    .navbar-nav {
        width: 100%;
        position: absolute;
        z-index: 999;
        top: 100px;
        left: 0;
        background: #191D24;
    }
    .banner {
        padding-top: 4rem;
    }
    .information {
        height: 100%;
    }
    .beehi-center{
        display: flex;
        justify-content: center;
    }
    .hidden-video{
        display: none !important;
    }
    .beehi-infomation-col{
        width: 100% !important;
        display: block;
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding: 0 5px;
    }
    .video-ea {
        display: none;
    }
    .video-header video {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
    .information img {
        display: none;
    }
}


/* Main code */

.loading-nn {
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: rgb(51 51 51 / 95%);
}

.loading-nn.active {
    display: flex;
}

.fade-loading {
    width: 4rem;
    height: 4rem;
    background-color: #098d8d;
    border-radius: 5rem;
    margin: 2rem auto;
    position: relative;
    z-index: 999;
}

.fade-loading:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: inherit;
    animation: fade 1s forwards infinite linear;
}

@keyframes fade {
    to {
        transform: scale(2);
        opacity: 0;
    }
}


/* Main code */

.square-loading {
    width: 100px;
    height: 100px;
    background-color: #30bacc;
    border-radius: 8px;
    animation: flip 1.2s ease-in-out infinite;
}

@keyframes flip {
    0% {
        transform: perspective(200px) rotateX(0) rotateY(0);
    }
    50% {
        transform: perspective(200px) rotateX(180deg) rotateY(0);
    }
    100% {
        transform: perspective(200px) rotateX(180deg) rotateY(180deg);
    }
}