
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.ant-layout-sider ,.ant-layout-sider-trigger{
    background-color: #fff !important;
}
.anticon {
    color: black !important;
}
.header-layout {
    background-color: #fff;
    border-bottom: 1px solid rgb(228, 228, 228);
    padding: 15px;
   text-align: right;
}
.header-layout>.name{
    color: rgb(137, 137, 137);
    font-size: 14px;
}
.logo-school {
    border-bottom: 1px solid rgb(228, 228, 228);
}

.logo {
    position: relative;
    width: 180px;
    height: 100px;
    overflow: hidden;
    margin-left: 10px;
}

.logo>img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.name-school {
    text-align: center;
    width: 80%;
}

.name-school>marquee {
    color: orangered;
    font-size: 2rem;
    font-weight: 600;
}

.site-layout-background {
    background-color: #fff;
    transition: .5s ease-in;
    padding: 10px;
    height: 100vh;
    overflow-y: auto;
}

.menu {
    box-shadow: 0 0 5px 0 black;
}
ul{
    background-color: #fff !important;
}
ul>li a{
    text-decoration: none;
    color: rgb(76, 76, 76)  !important;
    
}
ul>li a:hover {
    text-decoration: underline;
}
.icon-link{
    color: rgb(76, 76, 76) !important;
}
.ant-menu-item-selected{
    background-color: #fff !important;
}