body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.name-school {
    text-align: center;
    width: 80%;
}

.name-school>marquee {
    color: orangered;
    font-size: 2rem;
    font-weight: 600;
}

.site-layout-background {
    background-color: #fff;
    transition: .5s ease-in;
    padding: 10px;
    height: 100vh;
    overflow-y: auto;
}

.info {
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-bottom: 20px;
}

.avatar {
    text-align: center;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.avatar>img {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    border-radius: 100%;
    padding: 20px;
}

.name {
    font-size: .9rem !important;
    color: #fff !important;
    text-align: center;
}