body {
    font-family: '';
}

.flex_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(214, 214, 214);
    padding: 10px 0;
    margin-bottom: 10px;
}

.status>h4 {
    border-bottom: 1px solid rgb(214, 214, 214);
    padding: 10px 0;
}

.icon-cv {
    color: blue;
}

table td {
    font-size: 13px;
    padding: 2px !important;
}

table td,
thead>tr>th {
    padding: 5px 10px !important;
    text-align: center !important;

}

.status-fail,
.status-up {
    font-weight: 600;
}

.status-fail>button,
.status-up>button {
    background-color: #fff;
    color: blue;
    border: 0;
}

.status-fail>button:hover,
.status-up>button:hover {
    text-decoration: underline;
}

.list-status {
    width: 160px;
}

.status-check {
    font-weight: 600;
    animation: status-check linear 1.5s infinite;
    -webkit-animation: status-check linear 1.5s infinite;
    -o-animation: status-check linear 1.5s infinite;
}

.filter>button {
    background-color: #ee4d2d;
    color: #fff;
    border: 0;
    padding: 4px 10px;
    margin: 0 10px;
    border-radius: 2px;
}

.filter>input {
    margin-left: 10px;
}

.filter>.filter_status {
    margin-left: 10px;
    width: 20%;
}

.checkbox {
    width: 50px;
}

.checkbox>input {
    font-size: 3rem;
}

.comfirm {
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comfirm>button {
    background-color: #ee4d2d;
    color: #fff;
}

.comfirm-click {
    margin-right: 10px;
}

.name {
    font-size: 1.2rem;
    color: black;
}

.upload-status {
    margin: 0 10px 0 0;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes status-check {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #eeeeee;
    margin-top: 20px;
}

table th,
table th,
table th {
    padding: 10px 20px;
    font-weight: 500;
    text-align: center;
    font-size: .9rem;
    border: 1px solid #eeeeee;
}

table tbody td,
table tbody td,
table tbody td {
    padding: 1rem 0.5rem;
    border: 1px solid #eeeeee;
}

.list-detail {
    text-align: left;
    margin: 0;
    border-bottom: 1px solid rgb(237, 237, 237);
}

@media (min-width:739px) and (max-width:1023px) {

    table th,
    table th,
    table th {
        padding: 5px 10px !important;
        font-size: 1.1rem !important;
    }
    .span3 {
        margin-top: -10px ;
        padding-left: 15px;
    }
    .span2 {
        margin-top: -10px;
        padding-left: 25px;
    }

    table tbody td,
    table tbody td,
    table tbody td {
        padding: 5px 10px;
        font-size: 1rem;
    }
}

@media (min-width:539px) and (max-width:739px) {
    .flex_header div {
        display: 'flex';
        justify-content: space-between;
        width: '100%';
        align-items: center;
    }
    
   

    .flex_header h4 {
        font-size: 16px;
        margin: 0 -15px
    }

    .flex_header {
        padding: 10px 15px;
    }

    .col select {
        width: 100%;
        margin: 0 20px;
    }
   

    table th,
    table th,
    table th {
        padding: 5px 10px !important;
        font-size: .9rem !important;
    }

    table tbody td,
    table tbody td,
    table tbody td {
        padding: 5px 10px;
        font-size: .7rem;
    }
}


@media (max-width:538px) {
    .flex_header h4 {
        font-size: 16px;
        margin: 0px
    }
    table th,
    table th,
    table th {
        padding: 5px 10px !important;
        font-size: 12px !important;
    }

    table tbody td,
    table tbody td,
    table tbody td {
        padding: 5px 10px;
        font-size: 12px;
    }

    .comfirm {
        display: block;
    }

}
.div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.span{
     width: 60%; display: flex; flex-wrap: 'wrap'; 
}
.select {
     width: 100%; position: relative; right: 18%; 
}
.flex-header button {
    margin-right: 10px;
}

.bnt_export {
    display: flex;
    flex-wrap: wrap;
    
}
.button {
     margin-right: 5; height: 60;
}
@media (max-width: 414px) {
    .flex-header {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        margin: 0 0 0 15px;
    }


  
    

    .filter {
        display: flex;
        gap: 10px 13px;
        margin: 0 0 0 10px
            /* display:flex; */
            /* justify-content:space-between; */
    }

    .filter>input {
        margin: 0 0 0 10px;
        /* margin-left: 15px; */
    }

    .checkbox>input {
        font-size: 3rem;
    }

    .filter>.filter_status {
        margin-left: 30px;
        width: 50%;
    }

    .checkbox {
        width: 30px;
    }

    .checkbox>input {
        font-size: 4rem;
    }

    .select-status {
        display: flex;
        margin: auto;
    }

}

.upFile{
    margin: auto;
    width: 50%;
    margin-top: 20px;
    
}
/* @media (max-width: 414px) {
    .select-branch{
        display: flex;
    }
} */