
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.ant-layout-sider ,.ant-layout-sider-trigger{
    background-color: #fff !important;
}
.anticon {
    color: black !important;
}


.logo-school {
    border-bottom: 1px solid rgb(228, 228, 228);
}

.logo {
    position: relative;
    width: 180px;
    height: 100px;
    overflow: hidden;
    margin-left: 10px;
}

.logo>img {
    top: 0;
    object-fit: contain;
    text-align: center;
}


.name-school {
    text-align: center;
    width: 80%;
}

.name-school>marquee {
    color: orangered;
    font-size: 2rem;
    font-weight: 600;
}




ul{
    background-color: #fff !important;
}
ul>li a{
    text-decoration: none;
    color: rgb(76, 76, 76)  !important;
    
}
ul>li a:hover {
    text-decoration: underline;
}
.icon-link{
    color: rgb(76, 76, 76) !important;
}
.ant-menu-item-selected{
    background-color: #fff !important;
}