#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

 .ant-layout-sider-trigger{
    background: white;
}
body::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.header-layout {
    display: flex;
    align-items: center;
}

.header-layout>.logo {
    width: 20%;
}

.logo img {
    width: 100%;
    padding: 15px;
}

.name-school {
    text-align: center;
    width: 80%;
}

.name-school>marquee {
    color: orangered;
    font-size: 2rem;
    font-weight: 600;
}

.site-layout-background {
    background-color: #fff;
    transition: .5s ease-in;
    padding: 10px;
    height: 100vh;
    overflow-y: auto;
}

a{
    text-decoration: none !important;
}

.info {
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-bottom: 10px;
}

.avatar {
    text-align: center;
}

.avatar>img {
    height: 100%;
    width: 50%;
    border-radius: 100%;
    padding: 20px;
}

.name {
    font-size: .9rem !important;
    color: #fff !important;
    text-align: center;
}
.ant-layout-sider-trigger {
    position: fixed;
    bottom: 0;
    z-index: 1;
    height: 48px;
    color: black;
    line-height: 48px;
    text-align: center;
    background: white;
    cursor: pointer;
    transition: all 0.2s;
}
